<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thiết lập trang Bot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/setup.js"></script>
</head>
<body>
<div>
    <h1> Thiết lập Bot Facebook (bao gồm domain được cho phép, nút bắt đầu, menu cố định, v.v.)</h1>
    <br>
    <button type="button" id="btnSetupBotFB">
        Gửi
    </button>
</div>
</body>
</html>
